/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #111; /* Dark background color */
    color: #fff; /* Light text color */
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 2rem;
  }
  
  main {
    flex: 1; /* Equivalent to flex-grow: 1 and flex-shrink: 1 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
.profile img {
  max-width: 7.5%;
  height: 7.5%;
  border-radius: 5px; /* Rounded corners */
  margin-right: 10px;
  border: 1px solid #ddd;
}
  
  .profile h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .profile p {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  nav {
    margin-top: 20px;
  }
  
  nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #ddd; /* Light link color */
  }
  
  /* Styling for the "About" section */
  .about {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ddd;
    background-color: #222; /* Darker background color */
    border-radius: 5px;
  }
  
  .about h2 {
    font-size: 3vw; /* Adjust as needed */
  }
  
  .about p {
    font-size: 18px;
    line-height: 1.5;
    color: #ddd;
  }
  
  /* Styling for the "Blog" section */
  .post-list {
    margin-top: 2rem;
  }
  
  .post {
    border: 1px solid #ddd;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #333; /* Dark background color */
    border-radius: 5px;
  }
  
  .post h3 {
    font-size: 20px;
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  .post p {
    font-size: 16px;
    line-height: 1.5;
    color: #ddd;
  }
  
  .post a {
    display: inline-block;
    text-align: center;
    background-color: #555; /* Slightly lighter than background */
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 3px;
  }

  .post-list {
    text-align: center;
    padding: 20px; /* Optional: Add padding for spacing */
  }
  
  .post-list h2 {
    margin-bottom: 20px; /* Optional: Add spacing between title and posts */
  }
  
  .post1,
  .post2 {
    /* Style your post previews here */
    margin-bottom: 20px; /* Optional: Add spacing between posts */
  }
  
/* Copyleft */

  .copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }

/* footer */

  footer {
    text-align: center;
    padding: 20px;
    padding-top: 150px;
  }
  

  @media (max-width: 600px) {
    .about h2 {
      font-size: 5vw;
    }
  }